<h1>Courses</h1>

<ul>
  <% @courses.each do |course|%>
    <li><%= link_to course.title, course_url(course) %> : <%= course.description %></li>
  <% end %>
</ul>

<% if current_wizard.instructor %>
  <%= link_to "New Course", new_course_url %>
<% end %>
